<table class="table">
  <tr>
    <th>file Name</th>
    <th>doc_1</th>
    <th>doc_1</th>
    <th>doc_1</th>
    <th>doc_1</th>
  </tr>
  <tr>
    <th>file Name</th>
    <th>doc_1</th>
    <th>doc_1</th>
    <th>doc_1</th>
    <th>doc_1</th>
  </tr>
  <tr>
    <th>file Name</th>
    <th>doc_1</th>
    <th>doc_1</th>
    <th>doc_1</th>
    <th>doc_1</th>
  </tr>
  <tr>
    <th>file Name</th>
    <th>doc_1</th>
    <th>doc_1</th>
    <th>doc_1</th>
    <th>doc_1</th>
  </tr>
  <tr>
    <th>file Name</th>
    <th>doc_1</th>
    <th>doc_1</th>
    <th>doc_1</th>
    <th>doc_1</th>
  </tr>
  <tr>
    <th>file Name</th>
    <th>doc_1</th>
    <th>doc_1</th>
    <th>doc_1</th>
    <th>doc_1</th>
  </tr>
</table>